html,
      body {
        margin: 0;
        padding: 0;
     
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: black;
        color: white;
      }

      #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
      }

      .game-wrapper {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }